// 去除快速点击蓝色高亮效果
*{
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
    margin: 0;
    padding: 0;
}

.el-table, .el-table tr{
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.el-table th, .el-table tr{
    background-color: rgba(255, 255, 255, 0.5) !important;
}



html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}


// wx登录样式
iframe{
    width: 100%;
    height: 100%;
}

// 需要包的div
.box-card-div{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.wetuc-page-content {
    padding: 8px 16px 24px;
}

.wetuc-page-content * {
    font-size: 12px !important;
    font-family: '微软雅黑';
}
.el-checkbox{
    margin-right: 8px !important;
}

.wetuc-page-content .el-input__inner, .wetuc-page-content .el-button, .wetuc-page-content .el-textarea__inner {
    border-radius: 4px !important;
}

.el-button {
    border-radius: 4px !important;
}
.dialog-input-col1 {
    width: 140px !important;
}
.dialog-input-col2 {
    width: 195px !important;
}
.wetuc-input-col1 {

    width: 140px !important;
}
.wetuc-input-col2 {

    width: 252px !important;
}
.wetuc-input-col234 {

    width: 234px !important;
}

.wetuc-input-col615{
    width: 615px !important;
}
.wetuc-input-col618{
    width: 618px !important;
}

.wetuc-input-col523{
    width: 523px !important;
}
.wetuc-input-col598{
    width: 598px !important;
}

.wetuc-input-col983{
    width: 983px !important;
    max-width: 983px !important;
}
.wetuc-input-col943{
    width: 943px !important;
    max-width: 943px !important;
}
.wetuc-input-col845{
    width: 845px !important;
    max-width: 845px !important;
}
.wetuc-input-col885{
    width: 885px !important;
    max-width: 885px !important;
}
.wetuc-input-col890{
    width: 890px !important;
    max-width: 890px !important;
}

.wetuc-input-col3 {

    width: 352px !important;
}
.wetuc-input-col4 {

    width: 300px !important;
}

.wetuc-textarea-col1{
    width: 980px !important;
    max-width: 980px !important;
}

.wetuc-input3-col3 {
    width: 220px !important;
}

.dialog-input-col2 {
    width: 195px !important;
}

// span 鼠标悬停 划过样式
.spanHover:hover{
    cursor: pointer;
    color: #409EFF;
    text-decoration: underline;
}

//title 加分割线

.wetuc-page-header {
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
}

.wetuc-page-header p {

    font-size: 12px !important;
    color: #383838;
}

// 分页 在分页外包个div 应用在div上
.wetuc-page-content .wetuc-pagination-panel {

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
}

//覆盖disabled 禁止样式
.el-input.is-disabled .el-input__inner {
    cursor: default !important;
}

.wetuc-page-content .wetuc-router-link {
    color: #20a0ff;
}

.wetuc-page-content .wetuc-router-link:hover {
    color: #4db3ff;
}

.wetuc-page-content .wetuc-textBtn:after {
    content: '|';
    margin-left: 12px;
    color: #999;
}

.wetuc-page-content .wetuc-textBeforeBtn:before {
    content: '|';
    margin-right: 12px;
    color: #999;
}

.wetuc-page-content .wetuc-input-readonly-color input {
    background-color: #eef1f6 !important;
    border-color: #d1dbe5;
    color: #bbb !important;
}

.wetuc-page-content .breadcrumb-con {
    margin-top: 7px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
}

//主页面‘添加’按钮外部div类名
.wetuc-page-content .wetuc-addbtn-panel {
    margin-top: -10px !important;
    padding-bottom: 10px !important;
}

.wetuc-page-content .wetuc-textbtn-danger {
    color: #ff0000;
}

.wetuc-page-content .wetuc-textbtn-danger:hover {
    color: #ff6d6d;
}

.wetuc-page-content .el-dialog__title {
    font-size: 16px !important;
}

.wetuc-page-content .el-select-dropdown__item {
    font-size: 14px;
}

.wetuc-adaption {

    .xcms-header .header .logo a {
        font-size: 16px !important;
    }

    .wetuc-fl {
        float: left;
    }

    max-width: 1150px;
}

//样式优化

//input框表单间距变小
.el-form-item {
    margin-bottom: 10px !important;
}

//错误信息撑开文本流
.el-form-item__error {
    padding-bottom: 4px;
    position: static !important;
}

.is-error {
    margin-bottom: 0 !important;
}

.el-form {
    margin-top: 10px;
}

//表格中cell间距减小
.el-table .cell, .el-table th > div {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.el-table {
    margin-top: 20px;
    box-sizing: border-box;
}

.input-220 {
    width: 220px !important;
}

.input-104 {
    width: 104px !important;
}

.el-form--inline .el-form-item {
    margin-right: 9px;
}

.wetuc-btn-group {
    margin-left: 2px;
}

//.el-input__inner::-webkit-input-placeholder{color:#666!important}
//单选多选按钮高度减小
.radio-group {
    margin-bottom: 8px !important;
}

.radio-group .el-form-item__content {
    line-height: 20px;
}

.radio-group .el-form-item__label {
    padding: 5px 12px 5px 0;
}

.el-tabs {
    margin-top: 10px;
}

.el-tabs--border-card > .el-tabs__content {
    padding-top: 10px !important;
}

//四种大小的弹窗宽度
.tiny .el-dialog {
    width: 450px !important;
}

.small .el-dialog {
    width: 550px !important;
}

.middle .el-dialog {
    width: 850px !important;
}

.big .el-dialog {
    width: 950px !important;
}

.el-dialog__title {
    font-size: 16px !important;
}

.el-dialog__body {
    padding: 20px 20px 0px !important;
}

.paddingLeftNone .el-tabs__content {
    padding-left: 0 !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top {
    margin-top: -10px;
}


.table-btn {
    margin-top: 10px;
    margin-bottom: 0;
}

.el-input__icon + .el-input__inner {
    padding-right: 32px !important;
}

//返回按钮
.wetuc-return {
    margin: 10px 0 !important;
}

// 表格下面的图标
.item-icon {
    line-height: 30px;
    margin-right: 20px;

    .iconfont {
        margin-right: 6px;
    }

}



// 导航菜单width
.el-submenu .el-menu-item{
    width: 180px;
    min-width: 180px;
}

// 顶部icon距离
.el-badge__content.is-fixed{
    top: 15px;
}

//.el-avatar>img 图片
.el-avatar>img{
    width: 100%;
}
.el-avatar{
    background: none;
}

// 删除按钮颜色
.el-icon-delete{
    color: #ff0000;
}
.el-icon-delete:hover {
    color: #ff0000;
}
.red {
    color: #ff0000;
}
.red:hover {
    color: #ff0000;
}
// 查看图片
.table-td-thumb{
    display: block;
    //margin: auto;
    width: 108px;
    height: 72px;
}

// 查看大图-关闭按钮
.el-icon-circle-close{
    font-size: 12px !important;
}
.el-image-viewer__close{
    color: #fff;
    background-color: #606266;
}


// 主题盒子
.content-box {
    position: absolute;
    left: 162px;
    right: 0;
    top: 61px;
    bottom: 0;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    //background: #f0f0f0;
}

.content {
    width: auto;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}


.content-collapse {
    left: 65px;
}


// 导航样式
.tags-li.active {
    border: 1px solid #409EFF;
    background-color: #409EFF;
}
.message-title{
    color: #20a0ff;
}
.collapse-btn:hover{
    background: rgb(40,52,70);
}

// 同行显示
.wetuc-displayLft{
    display: inline-block;
}

//换行显示
.wetuc-page-block{
    display: block;
}
.wetuc-page-block:nth-child(2){
    display: block;
    margin: 10px 0;
}


// 分割divider
.divider{
    div{
        display: inline-block;
        width: 150px;
        font-size: 14px !important;
        font-weight: 200;
        margin: 10px 0;
        text-align: center;
        span{
            font-size: 18px !important;
            display: block;
            text-align: center;
            font-weight: 600;
            line-height: 30px;
        }
    }
    .el-divider, .el-divider--vertical{
        width: 1px !important;
        height: 2em !important;
        vertical-align: sub !important;
    }
}

// 冠军
.wetuc-champion{
    background-image: url('~@/assets/img/work/champion.png'); // cli2-sass 引入背景图方式
    width: 15px;
    height: 19px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 30%;
}
// 亚军
.wetuc-runnerUp{
    background-image: url("~@/assets/img/work/runnerUp.png");
    width: 15px;
    height: 19px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 30%;
}
// 季军
.wetuc-runner-up{
    background-image: url("~@/assets/img/work/runner-up.png");
    width: 15px;
    height: 19px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0%;
    top: 30%;
}

// 平分盒子
.wetuc-card{
    display: inline-block;
    margin: 0 8px;
    box-sizing: border-box;
}
.wetuc-cardFirst{
    display: inline-block;
    box-sizing: border-box;
    margin-left: 0 !important;
    margin-right: 8px;
}

// 红色字体
.wetuc-spanRed{
    color: #d71718;
    font-size: 16px !important;
    padding-left: 5px;
}

// 内容echars
.echartsMain{
    width: 100% !important;
    height: 300px !important;
    display: inline-block;
}

// echars平分布局
.echartsFlex{
    width: 49% !important;
    height: 400px !important;
    display: inline-block;
}


// 容器
.wetuc-container {
    display: inline-block;
    width: 100%;
}



// 上传图片
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}


// 二维码
.qrCodeCanvas {
    width: 180px !important;
    height: 180px !important;
    border: 1px dashed #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qrCodeCanvas img{
    width: 160px;
    height: 160px;
}


// 单体
.wetuc-block{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

// 定位-右
.wetuc-ortion{
    position: absolute;
    right: -20px;
    top: 13px;
    bottom: 0;
    cursor: pointer;
    display: inline-table;
}
// 单行2个
.wetuc-twoBlock{
    width: 49%;
    display: inline-block;
}


// 上传合同下边距
.el-upload-list--text{
    margin-bottom: 10px !important;
}

.my-label {
    background: #E1F3D8 !important;
}


.title-underline{
    cursor: pointer;
}
.title-underline:hover{
    color: #409EFF;
}

// input-inco划过样式
.el-input__span{
    display: none;
}
.el-input__icon:hover{
    cursor: pointer;
    position: relative;
    .el-input__span{
        width: 300px;
        display: block;
        position: absolute;
        left: -150px;
        top: -50px;
        font-size: 10px !important;
        line-height: 24px;
        color: #FFFFFF;
        text-align: left;
        background: #409EFF;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
    }
}

.sponsor{
    background-image: linear-gradient(90deg, #508DFF 3%, #389BFF 35%, #26C5FE 88%, #3BB8FE 99%);
    border-radius: 2px;
    color:#fff;
    padding:3px;
    font-size:12px;
    margin-left:5px;
}
















/*右侧侧边栏*/
.rightSideMode {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.rightSide {
    width: 500px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #fff;

    .rightSideTit {
        padding: 0 20px;
        height: 46px;
        line-height: 46px;
        color: #333;
        font-size: 14px;
        background-color: #fbfbfd;
        border-bottom: 1px solid #e0e6ed;
        border-radius: 1px;
        cursor: pointer;

        .icon-jiantou {
            margin-right: 20px;
            display: inline-block;
            line-height: 45px;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .el-collapse {
        padding: 20px;
    }

    .el-collapse-item__header {
        height: 50px;
        line-height: 50px;
        font-size: 15px;
        color: #20a0ff;
    }

    .flexItem {
        .el-collapse-item__content {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .rightSideItem {
        width: 50%;
        line-height: 45px;
        font-size: 13px;
        border-bottom: 1px solid #eff2f6;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        .tit {
            width: 70px;
            display: inline-block;
            margin-right: 10px;
            color: #1f2d3d;
        }

        .cont {
            color: #475669;
        }
    }

    .rightSideItemForm {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 15px;

        .tit {
            width: 70px;
            display: inline-block;
            margin-right: 10px;
            color: #1f2d3d;
        }
    }

    .collapseBtn {
        margin-left: 60px;
    }
}





















